<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8">
    <title>Create your post</title>
</head>
<body>
<form action="/posts/create" method="post" th:object="${post}">
    <label th:for="title">
        Enter your title:<br>
        <input type="text" th:field="*{title}"/>
    </label>
    <br>
    Enter description:
    <br>
    <label>
        <textarea th:field="*{body}"></textarea>
    </label>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>